<header class="header_cnt container-fluid container-md">
  <section 
    class="header_cnt_login row justify-content-end mt-md-3 animated fadeIn"
    *ngIf="!_header.isLogged; else NoLogged">

    <app-btn-hover-left 
      title="Registrate aquí"
      [color]="constants.buttons.colors.light"
      [size]="constants.buttons.sizes.medium"
      class="header_cnt_login_btn col-6 col-md-4 col-lg-3 col-xl-2 mr-md-2 mr-lg-3">
    </app-btn-hover-left>

    <app-btn-hover-left 
      title="Iniciar Sesión"
      [color]="constants.buttons.colors.success"
      [size]="constants.buttons.sizes.medium"
      class="header_cnt_login_btn col-6 col-6 col-md-4 col-lg-3 col-xl-2">
    </app-btn-hover-left>
  </section>

  <ng-template #NoLogged>
    <section class="header_cnt_profile row align-items-center mt-2 animated fadeIn">
      <h3 class="header_cnt_profile-name col-10 offset-1">
        <i 
          [class]="_header.iconVerifyEmail"
          [ngClass]="{
            'header_cnt_profile-name--validate': _header.isEmailVerify,
            'header_cnt_profile-name--noValidate': !_header.isEmailVerify
          }"
        ></i>
         {{ _header.username }}
      </h3>
      
      <a class="header_cnt_profile-config col-1">
        <i class="fas fa-user-cog"></i>
      </a>
    </section>
  </ng-template>
    

  <section class="header_cnt_navbar col-12 animated fadeIn">
    <app-navbar></app-navbar>
  </section>
</header>