@import "../../../../theme/variables";

.header_cnt {
  width: 100%;
  background: map-get($colors, dark);

  &_login_btn {
    margin: 0;
    padding: 0;
  } // .header_cnt_login_btn

  &_profile {
    padding: 0.3rem 1rem;

    &-name {
      margin: 0;
      padding: 0;
      font-size: 1rem;

      &--validate { color: map-get($colors, success) }
      &--noValidate { color: map-get($colors, danger) } 
    } // .header_cnt_profile-name

    &-config {
      i { font-size: 1.5rem }

      &:hover {
        i { 
          transition: ease 0.6s;
          color: map-get($colors, primary);
        }
      } // .header_cnt_profile-config :: hover
    } // .header_cnt_profile-config
  } // .header_cnt_profile
} // .header_cnt

@media screen and (max-width: map-get($queries, md)) {
  .header_cnt {  
    &_login_btn {
      &:nth-child(1) { border-right: 2px solid map-get($colors, dark) }
    } // .header_cnt_login_btn
  } // .header_cnt
} // @media: max-width: 767.98px
