
<div 
  class="btn_hover_left_cnt ripple"
  [ngClass]="{
    'btn_hover_left_cnt--primary': color === constants.buttons.colors.primary,
    'btn_hover_left_cnt--success': color === constants.buttons.colors.success,
    'btn_hover_left_cnt--light': color === constants.buttons.colors.light,
    'btn_hover_left_cnt--dark': color === constants.buttons.colors.dark
  }">
  <div class="effect" [ngClass]="{
      'effect--light': color === constants.buttons.colors.light
    }">
  </div>
  <a 
    class="title" 
    [ngClass]="{'title--light': color === constants.buttons.colors.light}"
    [ngStyle]="{'line-height.px': size }"> 
    <i 
      *ngIf="icon" 
      class="icon" 
      [class]="icon"
      [ngClass]="{'icon--light': color === constants.buttons.colors.light}">
    </i>
    {{ title }} 
  </a>
</div>