@import "../../../../../theme/variables";

.btn_hover_left_cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: map-get($colors, primary);
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;

  &.btn_hover_left_cnt--primary { background: map-get($colors, primary) }
  &.btn_hover_left_cnt--success { background: map-get($colors, success) }
  &.btn_hover_left_cnt--dark { background: map-get($colors, dark) }
  &.btn_hover_left_cnt--light { background: map-get($colors, light) }

  .title {
    font-size: 1rem;
    font-weight: map-get($font-weight, bold);
    color: map-get($colors, light);
    text-decoration: none;
    transition: ease .5s ease;
    z-index: 2;
    position: relative;

    .icon { 
      background: transparent;
      &.icon--light { color: map-get($colors, dark) }
    } // .icon

    &.title--light { color: map-get($colors, dark) }
  } // .title

  .effect {
    width: 100%;
    height: 100%;
    left: 100%;
    background: map-get($colors, light);
    position: absolute;
    transition: all 0.5s ease;
    z-index: 1;

    &.effect--light { background: map-get($colors, primary) } 
  } // .effect
  

  &:hover {
    .effect {
      left:0;
    }

    .title {
      color: map-get($colors, dark);
      .icon { 
        color: map-get($colors, dark);
        &.icon--light { color: map-get($colors, light) }
      }

      &.title--light { color: map-get($colors, light) }
    } // .title :: hover
  } // .btn_hover_left_cnt :: hover
} // .btn_hover_left_cnt

