* {
  // fuentes
  font-size: 16px;
  font-family: map-get($fonts, primary), sans-serif;
  color: map-get($colors, light);

  // fondo
  background-color: map-get($colors, dark);

  // enlaces y botones
  button, a {
    cursor: pointer;
  }
}