

// Colores
$colors: (
  primary: #C4BD07,
  dark: #202933,
  light: #ffffff,
  success: #2ecc71,
  danger: #e74c3c
);

// Fuentes
$fonts: (
  primary: 'Open Sans',
  secondary: 'Pacifico'
);

// Fonts-weight
$font-weight: (
  light: 300,
  normal: 500,
  bold: 600,
  extra-bold: 700
);

// Media queries
$queries: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);