<section class="navbar_cnt container-fluid container-md row">
  <article class="navbar_cnt_logo col-6 col-md-4 col-lg">
    <img class="navbar_cnt_logo-img" src="assets/images/shared/logo.png">
  </article>
  
  <article class="navbar_cnt_links col-6 col-md-8">
    <ul class="row links_cnt justify-content-lg-between">
      <li class="links_cnt-link col-12 col-md-6 col-lg-auto"> 
        <a> Deportes </a> 
      </li>

      <li class="links_cnt-link col-12 col-md-6 col-lg-auto"> 
        <a> En directo </a> 
      </li>

      <li class="links_cnt-link col-12 col-md-6 col-lg-auto"> 
        <a> Juegos de azar </a> 
      </li>

      <li class="links_cnt-link col-12 col-md-6 col-lg-auto"> 
        <a> Promociones </a> 
      </li>
    </ul>
  </article>
</section>
