@import "../../../../../theme/variables";

.navbar_cnt {
  display: flex;
  align-items: center;

  .navbar_cnt_logo {
    &-img {
      width: 200px;
      cursor: pointer;
    }
  }

  .navbar_cnt_links {
    .links_cnt {
      list-style: none;

      &-link {
        cursor: pointer;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: map-get($font-weight, bold);

        &:hover {
          transition: ease 0.3s;
          border-bottom: 4px solid map-get($colors, primary);
        }

        &--active {
          border-bottom: 4px solid map-get($colors, primary);
        }
      }
    }
  }
}

@media screen and (max-width: map-get($queries, sm)) {
  .navbar_cnt {
  
    .navbar_cnt_logo {
      &-img {
        width: 150px;
      }
    }
  }

  .row {
    padding: 0;
  }

  .col-6 {
    padding: 0;
  }
}